---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="card-portfolio.css">
  <title>Proyecto GitHub</title>
</head>
<body>
  <div class="project-card">
    <img src="/public/img/portafolio.jfif" alt="Portafolio" class="project-image">
    <div class="project-details">
      <h2 class="project-title">Portafolio Estudiantil</h2>
      <p class="project-description">Explorando mi trayectoria académica y creativa, descubre un viaje único a través de mi 
									evolución como estudiante y creador, mediante este portafolio.</p>
      <ul class="project-skills">
        <li class="skill">HTML</li>
        <li class="skill">CSS</li>
        <!-- Agrega más habilidades según sea necesario -->
      </ul>
      <div class="project-links">
        <a href="https://github.com/daleskaguerrero7/Portafolio.git" class="repo-link" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
        <a href="https://portafoliodaleska.netlify.app/" class="demo-link" target="_blank" rel="noopener noreferrer">Live Demo</a>
      </div>
    </div>
  </div>
</body>
</html>

  