---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Como estudiante de informática con un rendimiento académico medianamente bueno, sigo aprendiendo 
			y mejorando mis conocimientos técnicos. A lo largo de mi formación, he desarrollado una serie de habilidades 
			que considero cruciales para mi crecimiento profesional.
		</p>
	</div>
</section>
