---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/public/img/imgda.jpg"
			alt="Foto de perfil de Daleska"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				¡Hola! Soy Daleska Guerrero, estudiante de informática en el colegio Alessandro Volta. Mi pasión por la tecnología y 
				la programación me ha llevado a sumergirme en el fascinante mundo de la informática, donde cada día aprendo algo nuevo y emocionante.
				Me encanta escuchar música, especialmente cuando estoy trabajando o estudiando, ya que me ayuda a concentrarme y relajarme. 
				Los animales también ocupan un lugar especial en mi corazón, en particular los gatos, que siempre logran sacarme una sonrisa con sus travesuras y cariño.
				En mi tiempo libre, disfruto mucho de la lectura. Perderme en un buen libro es una de mis maneras favoritas de desconectar y explorar nuevos mundos. 
				Además, me gusta escribir cualquier cosa que venga a mi mente, desde historias cortas hasta reflexiones personales, lo que me permite expresarme y liberar mi creatividad.
				Siempre estoy abierta a aprender cosas nuevas y a enfrentar desafíos que me ayuden a crecer tanto personal como profesionalmente. 


			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
