---
import Title from './atoms/Title.astro';
import { getPortafolioData} from "../components/data/portfolioData.js"
import Card from './card-portfolio/CardPortfolio.astro';
---

<section
	id="portafolio"
	class="flex flex-col w-full  justify-center items-center h-auto min-h-[100dvh]  "
>
	<div class="portfolio__container">
		<Title contenido="Portafolio" />
		<div class="portfolio__elements">
			{getPortafolioData.map((props) => <Card {...props} />)}
		</div>
	</div>
</section>

<style>
	.portfolio__elements {
		max-width: var(--max-width);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
</style>
